<!DOCTYPE html>
<html lg="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="onymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="onymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js" integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i" crossorigin="onymous"></script>
    <title>Nhân viên bếp</title>
</head>

<style>
  .login {
        display: none;
    }

  #back{
        text-decoration: none;
        margin-bottom: 4px;
    } 
  .footer{
        display: none;
  }
</style>

<body>
    
    <a href="/kitchen" id="back">Trở về</a>
    <table class="table">
        <thead >
          <tr >
            <th scope="col" class="w-25">Bàn</th>
            <th scope="col" class="w-25">Mã đơn</th>
            <th scope="col" class="w-25">Trạng thái</th>
            <th scope="col" class="w-25 text-center">Thao tác</th>
          </tr>
        </thead>
        {{#each data}}
          <tbody >
            <tr >
              <td class="w-25">{{maban}}</td>
              <td class="w-25">{{madonhang}}</td>
              <td class="w-25">{{trangthai}}</td>
              <td class="w-25 text-center">
                <a href="/kitchen/handle-order/{{madonhang}}" class="btn btn-info">Xem chi tiết</a>
                <a href="#" onclick="completeOrder('{{madonhang}}')" class="btn btn-success">Đã chế biến xong</a>
              </td>
            </tr>
          </tbody>
        {{/each}}
      </table>
</body>
  <script>

    // Lấy tất cả các nút "Đã chế biến xong" trên trang
    const buttons = document.querySelectorAll('.btn-success');

    // Lặp qua từng nút và kiểm tra trạng thái của hàng tương ứng
    buttons.forEach(button => {
      const row = button.parentNode.parentNode; // Lấy hàng chứa nút

      // Kiểm tra trạng thái của hàng
      const status = row.querySelector('.w-25:nth-child(3)').textContent.trim();
      if (status === 'Đã xử lý') {
        // Nếu trạng thái là "Đã xử lý", tắt nút "Đã chế biến xong"
        button.hidden = true;
      }
    });

    async function completeOrder(madonhang) {
      await fetch('/kitchen/handle-order', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          madonhang: madonhang,
        })
      })
        .then(response => {
          window.location.reload();
        })
    } 
  </script>
</html>

