<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kiểm soát thực đơn</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.min.js"
        integrity="sha384-heAjqF+bCxXpCWLa6Zhcp4fu20XoNIA98ecBC1YkdXhszjoejr5y9Q77hIrv8R9i"
        crossorigin="anonymous"></script>

</head>

<style>
    .form-check {
        float: right;
        margin-right: 24%;
    }
    .login {
        display: none;
    }

    #back{
        text-decoration: none;
        margin-bottom: 4px;
    }

    .footer{
        display: none;
    }
</style>

<body>

    <div class="table__handleFood">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col" class="w-25">Mã món</th>
                    <th scope="col" class="w-25">Tên món</th>
                    <th scope="col" class="w-25">Trạng thái</th>
                    <th scope="col" class="w-25 text-center">Thao tác</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}   
                    <tr>
                        <td class="w-25">{{mamonan}}</td>
                        <td class="w-25">{{tenmonan}}</td>
                        <td class="w-25">{{trangthai}}</td>
                        <td class="w-25 ">
                            <div class="form-check form-switch">
                                <label class="form-check-label" for="flexSwitchCheckChecked">Bật/Tắt món ăn</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked{{mamonan}}" {{isEmpty trangthai}}>
                            </div>
                        </td>
                    </tr>
                {{/each}}

            </tbody>
        </table>
    </div>

</body>

<script>
    // Lấy danh sách các checkbox trong bảng
    const checkboxes = document.querySelectorAll('.table__handleFood input[type="checkbox"]');

    // Gán sự kiện change cho từng checkbox
    checkboxes.forEach((checkbox) => {
        // Lấy phần tử td chứa trạng thái của dòng đó
        const statusTd = checkbox.parentNode.parentNode.previousElementSibling;
        const nameTd = statusTd.previousElementSibling;
        const idTd = nameTd.previousElementSibling;
        // console.log(idTd.textContent)
        if (checkbox.checked) {
            statusTd.textContent = 'Sẵn có';
            statusTd.style.backgroundColor = 'white';
            nameTd.style.backgroundColor = 'white';
            idTd.style.backgroundColor = 'white';
        } else {
            statusTd.textContent = 'Đã bán hết';
            statusTd.style.backgroundColor = 'gray';
            nameTd.style.backgroundColor = 'gray';
            idTd.style.backgroundColor = 'gray';
        }
        checkbox.addEventListener('change', async () => {
            // Cập nhật giá trị mới cho trạng thái
            if (checkbox.checked) {
                statusTd.textContent = 'Sẵn có';
                statusTd.style.backgroundColor = 'white';
                nameTd.style.backgroundColor = 'white';
                idTd.style.backgroundColor = 'white';
            } else {
                statusTd.textContent = 'Đã bán hết';
                statusTd.style.backgroundColor = 'gray';
                nameTd.style.backgroundColor = 'gray';
                idTd.style.backgroundColor = 'gray';
            }
            await fetch('/kitchen/handle-food', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    mamonan: idTd.textContent,
                    trangthai: statusTd.textContent
                })
            });
        });
    });
</script>

</html>