<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <title>Xem lịch sử tính tiền</title>
</head>

<style>
    .footer {
        display: none;
    }

</style>

<body>
    <div class="container">
        <div class="row">
            <h1 class="text-center">Lịch sử tính tiền</h1>
            <form action="#" class="d-flex justify-content-between" method="POST" id="form__selected">
                <div class="col-md-2">
                    <select name="year" id="years" class="form-select" onchange="showMonths()"
                        aria-label="Default select example">
                        <option disabled selected>Chọn năm</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="month" id="months" class="form-select mx-3" onchange="showDays()"
                        aria-label="Default select example" disabled>
                        <option disabled selected>Chọn tháng</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <select name="day" id="days" class="form-select mx-3" 
                        aria-label="Default select example" disabled>
                         <option disabled selected>Chọn ngày</option>
                         </select>
                </div>

                <button class="btn btn-primary mx-3">Tìm kiếm</button>
            </form>
        </div>


        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Mã phiếu</th>
                    <th scope="col">Mã đơn hàng</th>
                    <th scope="col">Nhân viên tạo</th>
                    <th scope="col">Ngày tạo</th>
                    <th scope="col">Tổng tiền</th>
                </tr>
            </thead>
            <tbody>
                {{#each bills}}
                <tr>
                    <th scope="row">{{this.maphieu}}</th>
                    <td><a href="/manager/detail-order/{{this.madonhang}}">{{this.madonhang}}</a></td>
                    <td>{{this.manhanvien}}</td>
                    <td>{{formatDateTime this.ngaytao}}</td>
                    <td>{{formatMoney this.tongtien}}</td>
                </tr>
                {{/each}}
                {{#unless bills }}
                <td colspan="5" class="text-center"><b>Hiện không có phiếu tính tiền nào vào lúc này</b></td>
                {{/unless}}
            </tbody>
        </table>
    </div>
    <form id="formYear" action="#" method="POST" hidden>
        <input type="text" name="year" id="yearSelected">
    </form>
</body>
<script>
    const formYear = document.getElementById("formYear")
    const yearSelected = document.getElementById("yearSelected")
    const form__selected = document.getElementById("form__selected")
    function showMonths() {
        document.getElementById("months").removeAttribute('disabled');
        // {{!-- var selectedYear = event.target.value;
        //yearSelected.value = selectedYear
        //formYear.submit() --}}
    }
    function showDays() {
        var month = document.getElementById("months").value;
        var year = new Date().getFullYear();
        var days = new Date(year, month, 0).getDate();
        var select = "<option value='' disabled selected>Chọn ngày</option>";
        for (var i = 1; i <= days; i++) {
            select += "<option value='" + i + "'>" + i + "</option>";
        }
        document.getElementById("days").innerHTML = select;
        document.getElementById("days").removeAttribute('disabled');
    }
</script>

</html>